<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body>

    <nav id="navigation">

        <h1>Hello @User.Identity.Name!</h1>

        <a href="/Pages/Test">Test</a>

        <a href="/AzureAD/Account/SignOut">Sign out</a>

    </nav>

    <div id="main-content">

        @RenderBody()

    </div>

</body>

</html>