<div class="animated fadeIn">
    <h1>Consumabili</h1>
    <h2>Tutti gli oggetti che in azienda possono terminare</h2>

    <div id="app-consumable">

        <label class="checkbox-container">
            Mostra tutti
            <input type="checkbox" v-model="showAll" />
            <span class="checkmark"></span>
        </label>

        <ul>

            <transition-group name="list" tag="li">
                <li v-for="consumable in consumables" v-bind:key="consumable.qrCode" class="consumable-container">

                    <div class="consumable-image consumable-property">

                    </div>

                    <div class="consumable-name consumable-property">
                        {{ consumable.name }}
                    </div>

                    <div class="consumable-description consumable-property">
                        {{ consumable.description }}
                    </div>

                    <div class="consumable-property">
                        <label class="checkbox-container">
                            Mancante
                            <input type="checkbox" v-model="consumable.isMissing" />
                            <span class="checkmark"></span>
                        </label>
                    </div>

                </li>
            </transition-group>

        </ul>

    </div>

</div>

<script>


    $(document).ready(function () {

        var allConsumables = [];

        $.get("/Consumables/GetAll")
            .done(function (response) {

                allConsumables = response;

                var consumableApp = new Vue({
                    el: '#app-consumable',
                    data: {
                        consumables: allConsumables,
                        showAll: true
                    },
                    methods: {

                    },
                    watch: {
                        showAll: function (newValue, oldValue) {
                            if (newValue) {
                                this.consumables = allConsumables;
                            }
                            else {
                                this.consumables = allConsumables.filter(c => c.isMissing);
                            }
                        }
                    }
                });

            })
            .fail(function () {
                alert(response);
            });

    });



</script>