<div class="animated fadeIn">
    <h1>Benvenuto @User.Identity.Name!</h1>
    <h2>Scopri cosa succede in azienda</h2>

    <div class="index-content">

        <div>
            <p class="index-paragraph">
                <img class="index-pic" src="~/images/warehouse.png" />
            </p>
        </div>

        <div>
            <p class="index-paragraph">
                Da questo portale puoi:
                <ul class="index-list">
                    <li>Gestire l'<b>inventario aziendale</b> ed i passaggi di proprietà</li>
                    <li>Gestire gli <b>oggetti consumabili</b> in azienda quando vengono segnalati come assenti</li>
                </ul>
            </p>

            <p class="index-paragraph bigThing">
                Inizia scegliendo una pagina dal <b>menù a sinistra</b>.
            </p>

        </div>

    </div>


    <p>
        <span class="our-apps">Le nostre applicazioni</span>
        <a href=""><img src="~/images/apps.png" /></a>
    </p>



</div>
