@{
    Layout = null;
    @model IsTag.ViewModels.PrintQrViewModel
}


<html>

<head>

    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body class="background-white">

    <div class="qrContainer">

        <div class="qrBorder">
            <img class="@Model.QrCodeSizeClass" id="qrImage" src="~/Images/QR/@Model.QrCode" />
            <h1 class="@Model.QrTitleSizeClass qtTitle">@Model.Name</h1>
        </div>

    </div>

    <script>
        window.print();
    </script>

</body>
</html>
