@{
    Layout = null;
    @model IsTag.ViewModels.PrintQrViewModel
}


<html>
<body>

    <img id="qrImage" />
    <h1>@Model.Name</h1>

    <script>

        $.

        window.print();
    </script>

</body>
</html>
