@{
    Layout = null;
    @model IsTag.ViewModels.PrintQrViewModel
}


<html>
<body>

    <img id="qrImage" src="~/Images/QR/@Model.QrCode" />
    <h1>@Model.Name</h1>

    <script>
        window.print();
    </script>

</body>
</html>
